    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p style="padding-top:100px;" class="intro-text">An organic, non-GMO seed has been planted... <br/> Something is starting to grow...</p>
                        <i class="fa fa-4x fa-leaf"></i><br/>
                        <p class="intro-text"></p>
                        <p class="intro-text">
                            <br/>
                            <a class="hidden btn btn-default btn-lg btn-white" href="https://flippa.com/3943938-no-title">Buy this domain</a>

                            <span style="margin: 20px; display: block;">Grow with us </span>

                            <form method="post" action="//formspree.io/freres.bourgeois@gmail.com">
                                <input type="email" name="email" size="30" class="join-us-input" placeholder="Enter your email address">
                                <input type="submit" value="Subscribe" class="btn btn-lg btn-green">
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>