    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="intro-text">An organic, non-GMO seed has been planted... <br/> Something is starting to grow...</p>
                        <p class="intro-text">
                            <a class="btn btn-default btn-lg btn-white" href="https://flippa.com/3943938-no-title">Buy this domain</a>
                        </p>

                        <i class="fa fa-4x fa-leaf"></i>

                    </div>
                </div>
            </div>
        </div>
    </header>