 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

        <div class="navbar-custom-title">{{page.title}}</div>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-leaf"></i> Organic Sack
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/blog/newsletter">Blog</a>
                    </li>
                    {% for network in site.social %}
                    <li>
                        <a target="_blank" title="{{ network.title }}" href="{{ network.url }}"><i style="padding: 0; font-size: 1.5em;" class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>