<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        {% include nav.html %}
        {% include header-small.html %}

        <section id="blog" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <ul class="post-list">
                        {% for post in site.posts %}
                            {% if post.layout == 'post' %}
                            <li>
                                <a href="{{ post.url }}">
                                    <strong>{{post.date | date_to_string}}</strong>
                                    -
                                    <i>{{ post.title }}</i>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </section>

        {% include footer.html %}
        {% include js.html %}
    </body>
</html>