<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        {% include nav.html %}
        {% include header-small.html %}

        <section id="blog" class="container-fluid content-section">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {{ content }}
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="addthis_sharing_toolbox"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <nav class="pagination" role="navigation">
                        {% if page.previous %}
                        <a href="{{ page.previous.url }}" class="btn btn-default" title="{{page.previous.date | date_to_string}} - {{ page.previous.title }}">Previous</a>
                        {% endif %}
                        {% if page.next and page.next.draft != true %}
                        <a href="{{ page.next.url }}" class="btn btn-default" title="{{page.next.date | date_to_string}} - {{ page.next.title }}">Next</a>
                        {% endif %}
                    </nav>
                </div>
            </div>

            <div class="row text-center" style="margin: 75px 0 100px 0;">
                <div class="col-md-12">

                    <form method="post" action="//formspree.io/freres.bourgeois@gmail.com">
                        <input type="email" name="email" size="30" class="join-us-input" placeholder="Enter your email address">
                        <input type="submit" value="Subscribe" class="btn btn-lg btn-green">
                    </form>
                </div>
            </div>




            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include disqus_comments.html %}
                </div>
            </div>
        </section>

        {% include footer.html %}
        {% include js.html %}

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50805a883979b54c" async="async"></script>
    </body>
</html>